<%- include('header') -%>
<h1>This is about page!</h1>
<p>Quisque dui sem, mattis nec ipsum sit amet, auctor ullamcorper erat. Quisque nec eleifend lacus. Duis aliquam, nulla sit amet pretium auctor, purus odio pretium leo, vitae vulputate libero lacus quis mi. In accumsan rhoncus libero. Nulla condimentum felis sagittis, mollis neque a, congue sem. Curabitur sit amet condimentum urna, at rutrum tortor. In pulvinar nisl a enim aliquet sagittis. Aenean iaculis commodo sapien auctor pellentesque. </p>
<%- include('footer') -%>
