<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="icon" href="/core/img/favicon.ico">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>